*.swp
.DS_Store
cscope.out
node_modules
npm-debug.log
bin/tmp/*.js
test/*.json
ugrid-*.tgz
TODO
ugrid.sublime-project
ugrid.sublime-workspace
conf/slaves
conf/ugrid-env.sh
test-old/automatic/*.js
demo/*.data
docker/*.tar.*
